{% extends 'base.html' %}

{% block title %}分类-归档{% endblock %}

{% block left %}
    <div id="main">
            <br><br>
            <div class="archives">
                {% for p in plist %}
                    <article class="archive-article archive-type-post">
                      <div class="archive-article-inner">
                        <header class="archive-article-header">
                        <a class="archive-article-date" href="http://127.0.0.1:8000/category/1#">
                             <time>{{ p.created|date:'Y-m' }}</time>
                        </a>

                         <h1 itemprop="name">
                              <a class="archive-article-title" href="/post/{{ p.id }}" target="_blank">{{ p.title }}</a>
                         </h1>
                         </header>
                      </div>
                    </article>
                {% endfor %}



            </div>
    </div>
{% endblock %}